<div class="blogContent">
    <h1>Where do I start?</h1>
    
    <p>Every path has a beginning, and there is not much dispute about where every Web Programmer needs to start.
    The essentials are HTML, CSS, and new on the scene JQuery.  The only arguable one is JQuery, but the war is over
    between JavaScript libraries and JQuery is the absolute undisputed heavyweight champion.
    These are client-side languages, meaning the server simply sends them to the browser as-is for the browser to intepret.</p>
    
    <h2>HTML</h2>
    <p>HTML(Hyper-Text Markup Language) is simple markup and has been around since the beginning of the internet.  
    HTML 5 is a huge improvement over its predecessor and is changing the way people are doing business, especially mobile applications.  </p>
    
    <h2>CSS</h2>
    <p>Next, CSS (Cascading Style Sheets) came along and added some flair to that boring markup.
    CSS has become increasingly powerful allowing you to add beautiful designs to otherwise boring text.  
    Knowing CSS is an absolute necessity allowing your page to "come to life". </p> 
    
    <h2>jQuery</h2>
    <p>jQuery is relatively new on the landscape but has quickly become the de facto scripting language.  jQuery is a JavaScript 
    library that simplifies and reduces the amount of script code you need to write to achieve incredibly powerful results. 
    jQuery makes simple work of powerful techniques like validation, animation and AJAX.  I can't say enough good things about jQuery.  
    Some people are still resisting jQuery in favor of other libraries.  That is a mistake, regardless of technical aguments, 
    jQuery has gained wide-spread adoption by the industry, leaving the other libraries in its wake.</p>

    <p>As I said before, these are all client-side technologies meaning your server (most likely Internet Information Server or Apache) 
    doesn't do any modification to the files, it just sends them as they are.  You will need to have a good foundation of these technologies before going
    much further.</p>

    <p>After you have a good foundation, it is time to move on to Web Programming languages.  The static pages that you create with 
    HTML and CSS are limited to non-changing content.  Web programming Languages such as PHP, Ruby on Rails (ROR), and Asp.net allow
    you to show changing data depending on context.  For example, to have a user login and pull back a playlist they stored earlier</p>
    </p>
</div>