@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/about.css" rel="stylesheet" />
<div id="main" class="grid_8">
    <h2>Making Better Programmers....one blog at a time</h2>
    <div class="block">
        
        <p> I designed this site to make a better class of programmer.....period.   Now let me tell you why.  In order to do
            this I will introduce you to the most common types of coders out there.  If you get nothing else from this site,
            avoid being one of these at all costs!  
        </p>
    </div>
    <div class="block">
        <p>        
            <span class="header">Greenhorn</span><br />
            First, there is the Greenhorn, fresh out of school.  He likes to come in and rip out all of the code that has
            been in place for ten years and rewrite it from scratch in the latest trend.  He has all kinds of custom 
            libraries that will break his programs if you unlink them.<br />
            <span class="interest"><b>Likes: </b>Ruby On Rails, Python, Linux (Ubuntu only), Call of Duty</span><br />
            <span class="interest"><b>Hates: </b>Mainframes, Java (its so old)</span><br />
            <span class="interest"><b>Phone: </b>Pre-ordered Google Nexus 10, Rooted of course</span><br />
            <span class="interest"><b>Soundtrack: </b>LMFAO, Maroon 5, Bruno Mars, Kayne West</span><br />
            <span class="interest"><b>Where to Find: </b>University Lab, His Room (at his parent's house)</span><br />
        </p>
    </div>
    <div class="block">
        <p>
            <span class="header">Ole Merle</span><br />
            Second, there is Ole Merle.  He has been doing this job for thirty-five years, back when you were just a thought
            in your teen momma's head.  Don't touch his code, it has been working forever and no need to change it.  The 
            mainframe is the only computer system worthy of use.  COBOL was the last REAL language.<br />
            <span class="interest"><b>Likes: </b>'Z' Systems, COBOL, Used to like Apple before they sold out with the Ipod</span><br />
            <span class="interest"><b>Hates: </b>XML, Java (its too new), .Net Anything (for that matter Microsoft Anything)</span><br />
            <span class="interest"><b>Phone: </b>Clamshell from 1995.  Phones are for making Calls!</span><br />
            <span class="interest"><b>Soundtrack: </b>LMFAO, Maroon 5, Bruno Mars, Kayne West</span><br />
            <span class="interest"><b>Where to Find: </b>From 9-4:45 in his Office, The Elk's Lodge every other time</span><br />
        </p>
    </div>
    <div class="block">
        <p>          
            <span class="header">Douche</span><br />
            Third, there is the Douche.  He is easily identified sipping his Soy Mocha Triple Frap wearing a Sweater Vest.
            He loves to talk to you about some article he read in a tech magazine.  He has no original ideas of his own,
            and he can barely compile a program.  He touts Apple's superior design as his own, and everything else is
            sub-par.<br />
            <span class="interest"><b>Likes: </b>OS X, Apple Anything, Occupy Wall Street </span><br />
            <span class="interest"><b>Hates: </b>Google, Microsoft.  Those corporate Giants are killing small companies like Apple</span><br />
            <span class="interest"><b>Phone: </b>Latest Iphone (Waited in line to show how cool he is)</span><br />
            <span class="interest"><b>Soundtrack:</b> Who Cares? </span><br />
            <span class="interest"><b>Where to Find? </b>Starbucks, Book Stores, Town Centers, Anything pretentious</span><br />
        </p>
    </div>

</div>
