@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NotAuthorized</title>
</head>
<body>
    <div>
        <h1 style="color:red;">You are not Authorized to perform the requested Action </h1>
    </div>
</body>
</html>
