@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
    <link href="~/Content/test.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.20.js"></script>
</head>
<body>
    <div>
        <h1>Test Page</h1>
        <input id="show_stuff" type="button" value="Show Stuff" />
        <div id="test_div" class="hidden">
            Hello World
        </div>
        <br />
        <div id="exposed">
            Yo Gaba Gaba
        </div>
    </div>
</body>

</html>
